<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>
    <h1>{{ text }}</h1>
    <!-- 添加表单 -->
  <table class="table">
      <thead>
          <tr>
              <td>Content</td>
              <td>Time</td>
              <td>Status</td>
          </tr>
      </thead>
      <tbody>
      {% for t in todos %}
          <tr>
              <td>{{ t.content }}</td>
              <td>{{ t.time }}</td>
              <td>{{ t.status }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
</body>
</html>